# Natural Language Processing
langchain==0.1.8
chromadb==0.4.22
pdfminer.six==20231228
fsspec==2023.5.0
importlib-metadata==6.5.0
InstructorEmbedding==1.0.1
sentence-transformers==2.2.2
torch==2.2.0
faiss-cpu
huggingface-hub==0.20.3
transformers==4.37.2
autoawq==0.2.2; sys_platform != 'darwin'
protobuf==4.25.3; sys_platform != 'darwin'
protobuf==4.25.3; sys_platform == 'darwin' and platform_machine != 'arm64'
protobuf==4.25.3; sys_platform == 'darwin' and platform_machine == 'arm64'
auto-gptq==0.7.0; sys_platform != 'darwin'
docx2txt==0.8
unstructured==0.11.8
unstructured[pdf]

# Utilities
urllib3==2.2.1
accelerate==0.27.2
bitsandbytes==0.42.0 ; sys_platform != 'win32'
bitsandbytes-windows==0.37.5 ; sys_platform == 'win32'
click==8.1.7
flask==3.0.2
requests==2.31.0
llama-cpp-python==0.1.78


# MongoDB
pymongo==4.6.1

# Streamlit related
streamlit
Streamlit-extras

# Excel File Manipulation
openpyxl


# Solve chromaDB >= 3.5 error
# 1. Goto your virtual environment folder then navigate to `lib/python3.8/site-packages/chromadb/__init__.py`
# 2. Paste these lines in the starting of `__init.py__` file:
# ```shell
# __import__('pysqlite3')
# import sys
# sys.modules['sqlite3'] = sys.modules.pop('pysqlite3')
# ```
